.@using Microsoft.AspNetCore.Routing
@using Tour.Admin
@model Tour.Admin.Models.SysCustomerVM
<!-- /.card-header -->
<div class="card-body">
    <div class="table-responsive" style="grid-auto-columns:auto">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th>TT</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListCustomer != null && Model.ListCustomer.Count > 0)
                {
                    var stt = 0;
                    foreach (var item in Model.ListCustomer)
                    {
                        stt += 1;
                        <tr>
                           <td>@stt</td>
                            <!--Col 1-->
                            <td>
                                @item.fullName
                            </td>
                            <!-- col 2-->
                            <td>
                                @item.email
                            </td>
                            <!-- col 3-->
                            <td>
                                @item.username
                            </td>
                             <!-- col 4-->
                            <td>
                                @item.password
                            </td>
                            <!-- col 5-->
                            <td class="text-center" style="width:18%">
                                <button type="button"
                                        class="btn btn-radius-left btn-info br2 btn-xs fs12 m1 btn-popup-size"
                                        data-toggle="modalMenu"
                                        data-target="#RoleModalAction"
                                        data-width="1000"
                                        data-height="600"
                                        data-url="@Url.Action("_Update", "SysCustomer",new {  customerID = item.Id })">
                                    <span class='fa fa-edit'></span>Cập nhật
                                </button>

                                <a href="javascript:void(0);"
                                   data-message-confirm="Bạn có chắc muốn xóa"
                                   action="@Url.Action("_Delete", "SysCustomer",new { customerID = item.Id })"
                                   data-id="@item.Id"
                                   class="btn btn-sm btn-danger btn-radius-right btn-delete btnDelete">
                                    <span class="fa fa-trash"></span>Xóa
                                </a><br />
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<!-- /.card-body -->
<div class="card-footer clearfix">
    @if (Model.ListCustomer != null && Model.ListCustomer.Count > 0)
    {
        @HtmlPageHelper.Paging(this.Url, @Model.ListCustomer[0].totalRows, "_Index", "SysCustomer", "divListDetail",
        new RouteValueDictionary() {
            { "p", Model.p },
            { "keyWord",Model.keyWord}
         })
    }
</div>
