@model Tour.Admin.Models.TypeTicketViewModel
@{
    Layout = null;
}
<style>
    .error-valid {
        color: red;
    }
</style>
<div id="MenuModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("_Update", "TypeTicket", FormMethod.Post, new { id = "frmUpdate" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.Id)
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Adult: </label>
                                @Html.RadioButtonFor(m => m.type, "Adult")
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Children: </label>
                                @Html.RadioButtonFor(m => m.type, "Childern")
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.type)
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Price<span style="color:red">*</span></label>
                                @Html.TextBoxFor(m => m.price, new { @class = "form-control", @placeholder = "Price" })
                                @Html.ValidationMessageFor(m => m.price)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnUpdate" class="btn btn-success btn-sm float-sm-right disableBtnSave"><span class="fa fa-save"></span>Lưu</button>
                        <button type="button" class="btn btn-danger btn btn-sm float-sm-right btn-popup-cancel" id="btnClose" style="margin-right:5px" data-dismiss="modal"><span class="fa fa-times"></span>Thoát</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script language="javascript">
    $('#frmUpdate').validate({
        rules: {
            "price": {
                required: true
            },
            "type": {
                required: true
            },
        },
        messages: {
            "type": "Vui lòng không để trống",
            "price": "Vui lòng không để trống",
        },
        errorPlacement: function (error, element) {
            error.addClass('error-valid');
            error.insertAfter(element);
            if (element.attr("name") == "") {
                error.insertAfter("#");
            }
        }
    })
</script>