@using Microsoft.AspNetCore.Routing
@using Tour.Admin
@model Tour.Admin.Models.FlightVM
<!-- /.card-header -->
<div class="card-body">
    <div class="table-responsive" style="grid-auto-columns:auto">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th>TT</th>
                    <th>Name</th>
                    <th>Discription</th>
                    <th>Date</th>
                    <th>Duaration</th>
                    <th>Tỉ giá</th>
                    <th></th>
                </tr
            </thead>
            <tbody>
                @if (Model.ListFlight != null && Model.ListFlight.Count > 0)
                {
                    var stt = 0;
                    foreach (var item in Model.ListFlight)
                    {
                        stt += 1;
                        <tr>
                            <td>@stt</td>
                            <!--Col 1-->
                            <td>
                                @item.name
                            </td>
                            <!-- col 2-->
                            <td>
                                @item.description
                            </td>
                            <!-- col 3-->
                            <td>
                                @item.date
                            </td>
                            <!-- col 4-->
                            <td>
                                @item.duaration
                            </td>
                             <!-- col 5-->
                            <td>
                                @item.tigia
                            </td>
                            <!-- col 6-->
                            <td class="text-center" style="18%">
                                <button type="button"
                                        class="btn btn-radius-left btn-info br2 btn-xs fs12 m1 btn-popup-size"
                                        data-toggle="modalMenu"
                                        data-target="#RoleModalAction"
                                        data-width="1000"
                                        data-height="600"
                                        data-url="@Url.Action("_Update", "Flight",new {  flightID = item.Id })">
                                    <span class='fa fa-edit'></span>Cập nhật
                                </button>

                                <a href="javascript:void(0);"
                                   data-message-confirm="Bạn có chắc muốn xóa"
                                   action="@Url.Action("_Delete", "Flight",new { flightID = item.Id })"
                                   data-id="@item.Id"
                                   class="btn btn-sm btn-danger btn-radius-right btn-delete btnDelete">
                                    <span class="fa fa-trash"></span>Xóa
                                </a><br />
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<!-- /.card-body -->
<div class="card-footer clearfix">
    @if (Model.ListFlight != null && Model.ListFlight.Count > 0)
    {
        @HtmlPageHelper.Paging(this.Url, @Model.ListFlight[0].totalRows, "_Index", "Flight", "divListDetail",
        new RouteValueDictionary() {
            { "p", Model.p },
            { "keyWord",Model.keyWord}
         })
    }
</div>
