@model Tour.UI.Models.TicketViewModel;
@{
    ViewData["Title"] = "Pay";
}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('../assert/images/img_bg_2.jpg')">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">

                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>Đặt vé</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>

<div class="gtco-section">
    <div class="gtco-container">
        <div>
            @using (Html.BeginForm("_Pay", "Home", FormMethod.Post, new { id = "frmPay" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="flight">Chuyến đi</label>
                    <input type="text" readonly class="form-control border-0" id="flight" value="@ViewBag.Flight.name" />
                    @Html.TextBoxFor(m => m.flightId, new { @class = "form-control", @Value = @ViewBag.Flight.Id, style = "display: none;" })
                </div>
                <div class="form-group">
                    <label for="type">Loại</label>
                    @Html.DropDownListFor(m => m.TTicketId, new SelectList(ViewBag.Ticket, "Id", "type"), "---Loại vé---", new { @class = "form-control", onchange = "update()" })
                </div>
                <div class="form-group">
                    <label>Số lượng đặt</label>
                    @Html.TextBoxFor(m => m.quantity, new { @class = "form-control", Type = "number", @min = "0", onkeydown = "return false", onchange = "update()" })
                </div>
                <div class="form-group">
                    <label>Giá</label>
                    @Html.TextBoxFor(m => m.price, new { @class = "form-control border-0", @readonly = "readonly" }) VNĐ
                </div>
                <div class="form-group pull-right">
                    <div class="fh5co-card-item" style=" width: 145px; height: 43px;">
                        <div class="fh5co-text">
                            <p><a href="#exampleModalCenter" data-toggle="modal" data-target="#exampleModalCenter"><span class="btn btn-primary">Thanh toán</span></a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function update() {
        var select = document.getElementById('TTicketId');
        var option = select.options[select.selectedIndex];

        var q = document.getElementById('quantity').value
        console.log(q)

        var obj = @Html.Raw(Json.Serialize(ViewBag.Ticket))
        var type = obj.find(e => e.Id == option.value)
        console.log(type)

        var objF = @Html.Raw(Json.Serialize(ViewBag.Flight))
        console.log(objF)

        document.getElementById('price').value = type.price * objF.tigia * q
    }

    update();
</script>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn đã đặt vé thành công. Vui lòng ấn OK để xác nhận.</p>
            </div>
            <div class="modal-footer">
                <div class="fh5co-card-item" style="width: 88px; height: 43px; margin: auto;">
                    <div class="fh5co-text">
                        <p><a href="javascript:;" onclick="document.getElementById('frmPay').submit();"><span class="btn btn-primary">OK</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
