@using Microsoft.AspNetCore.Routing
@model Tour.UI.Models.FlightVM;
@using  Tour.Common.Constants;
@using Tour.UI;
@{
    ViewData["Title"] = "Tour";
}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('../assert/images/img_bg_1.jpg')">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">

                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>Tham khảo tour du lịch sắp diễn ra</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Du lịch tới những nơi bạn yêu thích</h2>
                <p>Không cần nhiều lý do để bắt đầu 1 chuyến đi mới. Cuộc sống là một cuộc phiêu lưu đầy táo bạo hoặc không là gì cả.</p>
            </div>
        </div>
        @using (Html.BeginForm("_Index", "Home", FormMethod.Get, new { @class = "form-sm form-load-ajax", id = "frmHome", data_load_view = "divListDetail" }))
        {
            <div class="row m-0">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Từ khóa</label>
                        @Html.TextBoxFor(m => m.keyWord, new { @class = "form-control", @placeholder = "Nhập từ khóa" })
                        @Html.TextBoxFor(m => m.p, new { @class = "form-control", @placeholder = "Nhập từ khóa", style = "display: none;" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-primary" id="btnSearch" style="margin-top:5px">
                            <span class='fa fa-search'></span>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            @if (Model.ListFlight != null && Model.ListFlight.Count > 0)
            {
                @foreach (var item in Model.ListFlight)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="fh5co-card-item">
                            <a href="~/assert/img/@item.name/img_1.jpg" class="image-popup">
                                <figure>
                                    <div class="overlay"><i class="ti-plus"></i></div>
                                    <img src="~/assert/img/@item.name/img_1.jpg" alt="Image" class="img-responsive">
                                </figure>

                            </a>
                            <div class="fh5co-text">
                                <h2>@item.name</h2>
                                <p>@item.description</p>
                                @if (Constants.FullName == null)
                                {
                                    <p><a href="#exampleModalCenter" data-toggle="modal" data-target="#exampleModalCenter"><span class="btn btn-primary">Xem thêm</span></a></p>
                                }
                                else
                                {
                                    <p><a href="@Url.Action("Info", "Home", new { flightID = item.Id })"><span class="btn btn-primary">Xem thêm</span></a></p>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="card-footer clearfix">
            @if (Model.ListFlight != null && Model.ListFlight.Count > 0)
            {
                @HtmlPageHelper.Paging(this.Url, @Model.ListFlight[0].totalRows, "_Index", "Home", "divListDetail",
                new RouteValueDictionary() {
                    { "p", Model.p },
                    { "keyWord",Model.keyWord}
                 })
            }
        </div>
    </div>
</div>



<div id="gtco-subscribe">
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Theo dõi</h2>
                <p>Hãy là người đầu tiên được thông báo khi có những tour mới</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <form class="form-inline">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <button type="submit" class="btn btn-default btn-block">Nhận thông báo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn phải <a href="/">đăng nhập</a> mới có thể xem thêm</p>
            </div>
        </div>
    </div>
</div>
